# Intro to Python
This notebook will serve as an intro to Python for beginners and as a refresher to intermediate/advanced users

## Table of Contents
1. [Python objects, basic types, and variables](#Python-objects,-basic-types,-and-variables)
2. [Basic operators](#Basic-operators)
3. [Python object attributes - methods and properties](#Python-object-attributes---methods-and-properties)
4. [Basic data structures](#Basic-data-structures)
    - [Lists](#List-operations)
    - [Tuples](#Tuple-operations)
    - [Set](#Set-operations)
    - [Dictionary](#Dictionary-operations)  
    
5. [Python built in functions](#Python-built-in-functions-and-callables)
6. [Type conversion](#Type-conversion)
7. [References](#References)

## Python objects, basic types, and variables
- Back to [Table of Contents](#Table-of-Contents)

Everything in Python is an **object** and every object in Python has a **type**. Some of the basic types include:

- **`int`** (integer; a whole number with no decimal place)
  - `10`
  - `-3`
- **`float`** (float; a number that has a decimal place)
  - `7.41`
  - `-0.006`
- **`str`** (string; a sequence of characters enclosed in single quotes, double quotes, or triple quotes)
  - `'this is a string using single quotes'`
  - `"this is a string using double quotes"`
  - `'''this is a triple quoted string using single quotes'''`
  - `"""this is a triple quoted string using double quotes"""`
- **`bool`** (boolean; a binary value that is either true or false)
  - `True`
  - `False`
- **`NoneType`** (a special type representing the absence of a value)
  - `None`

In Python, a **variable** is a name you specify in your code that maps to a particular **object**, object **instance**, or value.

By defining variables, we can refer to things by names that make sense to us. Names for variables can only contain letters, underscores (`_`), or numbers (no spaces, dashes, or other characters). Variable names must start with a letter or underscore.

<hr>

## Basic operators
- Back to [Table of Contents](#Table-of-Contents)

In Python, there are different types of **operators** (special symbols) that operate on different values. Some of the basic operators include:

- arithmetic operators
  - **`+`** (addition)
  - **`-`** (subtraction)
  - **`*`** (multiplication)
  - **`/`** (division)
  - __`**`__ (exponent)
- assignment operators
  - **`=`** (assign a value)
  - **`+=`** (add and re-assign; increment)
  - **`-=`** (subtract and re-assign; decrement)
  - **`*=`** (multiply and re-assign)
- comparison operators (return either `True` or `False`)
  - **`==`** (equal to)
  - **`!=`** (not equal to)
  - **`<`** (less than)
  - **`<=`** (less than or equal to)
  - **`>`** (greater than)
  - **`>=`** (greater than or equal to)

When multiple operators are used in a single expression, **operator precedence** determines which parts of the expression are evaluated in which order. Operators with higher precedence are evaluated first (like PEMDAS in math). Operators with the same precedence are evaluated from left to right.

- `()` parentheses, for grouping
- `**` exponent
- `*`, `/` multiplication and division
- `+`, `-` addition and subtraction
- `==`, `!=`, `<`, `<=`, `>`, `>=` comparisons

> See https://docs.python.org/3/reference/expressions.html#operator-precedence

In [180]:
# Assigning some numbers to different variables
num1 = 10
num2 = -3
num3 = 7.41
num4 = -.6
num5 = 7
num6 = 3
num7 = 11.11

In [181]:
# Addition
num1 + num2

7

In [182]:
# Subtraction
num2 - num3

-10.41

In [183]:
# Multiplication
num3 * num4

-4.446

In [184]:
# Division
num4 / num5

-0.08571428571428572

In [185]:
# Exponent
num5 ** num6

343

In [186]:
# Increment existing variable - note: if you run cell more than once the values will continue to change
print("num7 before increment ",num7)
num7 += 4
num7

num7 before increment  11.11

15.11

In [187]:
# Decrement existing variable - note: if you run cell more than once the values will continue to change
print("num6 before decrement",num6)
num6 -= 2
num6

num6 before decrement 3

1

In [188]:
# Multiply & re-assign -note: if you run cell more than once the values will continue to change
print("num1 before multiply & reassign",num1)
num1 *= 5
num1

num1 before multiply & reassign 10

50

In [189]:
# Assign the value of an expression to a variable
num8 = num1 + num2 * num3
num8

27.77

In [190]:
# Are these two expressions equal to each other?
num1 + num2 == num5

False

In [191]:
# Are these two expressions not equal to each other?
num3 != num4

True

In [192]:
# Is the first expression less than the second expression?
num5 < num6

False

In [193]:
# Is this expression True?
5 > 3 > 1

True

In [194]:
# Is this expression True?
5 > 3 < 4 == 3 + 1

True

In [195]:
# Operators also work with strings

# Assign some strings to different variables
simple_string1 = 'an example'
simple_string2 = "oranges "

# Addition
simple_string1 + ' of using the + operator'

'an example of using the + operator'

In [196]:
# Notice that the string was not modified
simple_string1

'an example'

In [197]:
# Multiplication
simple_string2 * 4

'oranges oranges oranges oranges '

In [198]:
# This string wasn't modified either
simple_string2

'oranges '

In [199]:
# Are these two expressions equal to each other?
simple_string1 == simple_string2

False

In [200]:
# Are these two expressions equal to each other?
simple_string1 == 'an example'

True

In [201]:
# Add and re-assign - note: if you run cell more than once the values will continue to change
simple_string1 += ' that re-assigned the original string'
simple_string1

'an example that re-assigned the original string'

In [202]:
# Multiply and re-assign - note: if you run cell more than once the values will continue to change
simple_string2 *= 3
simple_string2

'oranges oranges oranges '

In [203]:
# Note: Subtraction, division, and decrement operators do not apply to strings.

## Python object attributes - methods and properties
- Back to [Table of Contents](#Table-of-Contents)  

Different types of objects in Python have different **attributes** that can be referred to by name (similar to a variable). To access an attribute of an object, use a dot (`.`) after the object, then specify the attribute (i.e. `obj.attribute`)

When an attribute of an object is a callable, that attribute is called a **method**. It is the same as a function, only this function is bound to a particular object.

When an attribute of an object is not a callable, that attribute is called a **property**. It is just a piece of data about the object, that is itself another object.

The built-in `dir()` function can be used to return a list of an object's attributes.

<hr>

## Some methods on string objects

- **`.capitalize()`** to return a capitalized version of the string (only first char uppercase)
- **`.upper()`** to return an uppercase version of the string (all chars uppercase)
- **`.lower()`** to return an lowercase version of the string (all chars lowercase)
- **`.count(substring)`** to return the number of occurences of the substring in the string
- **`.startswith(substring)`** to determine if the string starts with the substring
- **`.endswith(substring)`** to determine if the string ends with the substring
- **`.replace(old, new)`** to return a copy of the string with occurences of the "old" replaced by "new"

In [204]:
# Assign a string to a variable
a_string = 'tHis is a sTriNg'

# Return a capitalized version of the string
a_string.capitalize()

'This is a string'

In [205]:
# Return an uppercase version of the string
a_string.upper()

'THIS IS A STRING'

In [206]:
# Return a lowercase version of the string
a_string.lower()

'this is a string'

In [207]:
# Notice that the methods called have not actually modified the string
a_string

'tHis is a sTriNg'

In [208]:
# Count number of occurences of a substring in the string
a_string.count('i')

3

In [209]:
# Count number of occurences of a substring in the string
# notice this method is case sensitive
a_string.count('t')

1

In [210]:
# Count number of occurences of a substring in the string
a_string.count('is')

2

In [211]:
# Does the string start with 'this'?
a_string.startswith('this')

False

In [212]:
# Does the lowercase string start with 'this'?
a_string.lower().startswith('this')

True

In [213]:
# Does the string end with 'Ng'?
a_string.endswith('Ng')

True

In [214]:
# Return a version of the string with a substring replaced with something else
a_string.replace('is', 'XYZ')

'tHXYZ XYZ a sTriNg'

In [215]:
# Return a version of the string with a substring replaced with something else
a_string.replace('i', '!')

'tH!s !s a sTr!Ng'

In [216]:
# Return a version of the string with the first 2 occurences a substring replaced with something else
a_string.replace('i', '!', 2)

'tH!s !s a sTriNg'

## Basic data structures
- Back to [Table of Contents](#Table-of-Contents)

> Note: **mutable** objects can be modified after creation and **immutable** objects cannot.

These are objects that can be used to group other objects together. The basic data structures include:

- **`list`** (list: mutable; indexed by integers; items are stored in the order they were added)
  - `[3, 5, 6, 3, 'dog', 'cat', False]`
- **`tuple`** (tuple: immutable; indexed by integers; items are stored in the order they were added)
  - `(3, 5, 6, 3, 'dog', 'cat', False)`
- **`set`** (set: mutable; not indexed at all; items are NOT stored in the order they were added; can only contain immutable objects; does NOT contain duplicate objects)
  - `{3, 5, 6, 3, 'dog', 'cat', False}`
- **`dict`** (dictionary: mutable; key-value pairs are indexed by immutable keys; items are NOT stored in the order they were added)
  - `{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}`

When defining lists, tuples, or sets, use commas (,) to separate the individual items. When defining dicts, use a colon (:) to separate keys from values and commas (,) to separate the key-value pairs.

Strings, lists, and tuples are all **sequence types** that can use the `+`, `*`, `+=`, and `*=` operators.

In [217]:
# Assign some data structures to different variables
list1 = [3, 5, 6, 3, 'dog', 'cat', False]
tuple1 = (3, 5, 6, 3, 'dog', 'cat', False)
set1 = {3, 5, 6, 3, 'dog', 'cat', False}
dict1 = {'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [218]:
# Items in the list object are stored in the order they were added
list1

[3, 5, 6, 3, 'dog', 'cat', False]

In [219]:
# Items in the tuple object are stored in the order they were added
tuple1

(3, 5, 6, 3, 'dog', 'cat', False)

In [220]:
# Items in the set object are not stored in the order they were added
# Also, notice that the value 3 only appears once in this set object
set1

{False, 3, 5, 6, 'cat', 'dog'}

In [221]:
# Items in the dict object are not stored in the order they were added
dict1

{'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish'], 'name': 'Jane'}

In [222]:
# Add and re-assign
list1 += [5, 'grapes']
list1

[3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes']

In [223]:
# Add and re-assign
tuple1 += (5, 'grapes')
tuple1

(3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes')

In [224]:
# Multiply
[1, 2, 3, 4] * 2

[1, 2, 3, 4, 1, 2, 3, 4]

In [225]:
# Multiply
(1, 2, 3, 4) * 3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

## List operations
- Back to [Table of Contents](#Table-of-Contents)  


- Accessing elements
- Adding elements
- Concatenating 
- Removing elements
- Removing sublists

In [226]:
# Selecting by index
print(list1[0])
print(list1[-1])

3
grapes

In [227]:
# Select a sublist
print(list1[0:5])
print(list1[-5:-1])
print(list1[:3])
print(list1[4:])

[3, 5, 6, 3, 'dog']
['dog', 'cat', False, 5]
[3, 5, 6]
['dog', 'cat', False, 5, 'grapes']

In [228]:
# Check if list1 contains a value
list1
print('dog' in list1)
print('cats' not in list1)

True
True

In [229]:
# Add elements to list1
list1.append('cats')
print(list1)

[3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes', 'cats']

In [230]:
# Insert a value to a specific index
list1.insert(4,'lion')
print(list1)

[3, 5, 6, 3, 'lion', 'dog', 'cat', False, 5, 'grapes', 'cats']

In [231]:
# Concatenate two lists
list2 = ['red', 'blue', 'green']
list1 = list1 + list2
print(list1)

[3, 5, 6, 3, 'lion', 'dog', 'cat', False, 5, 'grapes', 'cats', 'red', 'blue', 'green']

In [232]:
# Remove by value
list1.remove('dog')
print(list1)

[3, 5, 6, 3, 'lion', 'cat', False, 5, 'grapes', 'cats', 'red', 'blue', 'green']

In [233]:
# Removing by index
del list1[1:3]
print(list1)

[3, 3, 'lion', 'cat', False, 5, 'grapes', 'cats', 'red', 'blue', 'green']

## Tuple operations
- Back to [Table of Contents](#Table-of-Contents)


- Accessing elements

Note: tuples are immutable, so elements cannot be added or deleted from a tuple

In [166]:
# Selecting by index
print(tuple1[0])
print(tuple1[-1])

False
dog

In [234]:
# Select a sublist
print(tuple1[0:5])
print(tuple1[-5:-1])
print(tuple1[:3])
print(tuple1[4:])

(3, 5, 6, 3, 'dog')
('dog', 'cat', False, 5)
(3, 5, 6)
('dog', 'cat', False, 5, 'grapes')

In [235]:
# Check if tuple1 contains a value
tuple1
print('dog' in tuple1)
print('cats' not in tuple1)

True
True

## Set operations
- Back to [Table of Contents](#Table-of-Contents)


- **`.add(item)`** to add a single item to the set
- **`.update([item1, item2, ...])`** to add multiple items to the set
- **`.update(set2, set3, ...)`** to add items from all provided sets to the set
- **`.remove(item)`** to remove a single item from the set
- **`.pop()`** to remove and return a the first item in the set
- **`.difference(set2)`** to return items in the set that are not in another set
- **`.intersection(set2)`** to return items in both sets
- **`.union(set2)`** to return items that are in either set
- **`.symmetric_difference(set2)`** to return items that are only in one set (not both)
- **`.issuperset(set2)`** does the set contain everything in the other set?
- **`.issubset(set2)`** is the set contained in the other set?

In [1]:
a_list = ['a', 'b', 'a', 'c', 'e', 'c']
a_list

['a', 'b', 'a', 'c', 'e', 'c']

In [239]:
# notice duplicates are removed
a_set = set(a_list)
print(a_set)

{'e', 'a', 'b', 'c'}

In [250]:
# add 'f' to the list
a_set.add('f')
print(a_set)

{'f', 'a', 'i', 'k'}

In [252]:
a_set.remove('a')
print(a_set)

{'f', 'i', 'k'}

In [241]:
# add multiple items to the list
a_set.update(['h','i'])
print(a_set)

{'f', 'h', 'c', 'b', 'e', 'a', 'i'}

In [242]:
# create new set and update to a_set
b_set = ('a','b','j','k')
a_set.update(b_set)
print(a_set)

{'f', 'j', 'h', 'c', 'b', 'e', 'a', 'i', 'k'}

In [243]:
# pop an item in a set ... notice it pops a random item 
pop_a_set = a_set.pop()
print(pop_a_set)
print(a_set)

f
{'j', 'h', 'c', 'b', 'e', 'a', 'i', 'k'}

In [7]:
new_set = {6,1,12,30,0}
print(new_set)
print(new_set.pop())
print(new_set.pop())
print(new_set.pop())

{0, 1, 6, 12, 30}
0
1
6

In [248]:
pop_a_set = a_set.pop()
print(pop_a_set)
print(a_set)

e
{'a', 'i', 'k'}

## Dictionary operations
- Back to [Table of Contents](#Table-of-Contents)


- Accessing elements
- Adding elements
- Updating
- Removing elements

In [268]:
# Accesing values by key
print(dict1['fav_foods'])

['pizza', 'fruit', 'fish']

In [262]:
# Add a new key to the dictionary with a value
dict1['fav_drinks'] = ['pepsi','coke','sprite']
print(dict1)

{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish'], 'fav_drinks': ['pepsi', 'coke', 'sprite']}

In [266]:
# Updating a dictionary
dict2 = {'phone': '3128144400', 'age':24}
dict1.update(dict2)
print(dict1)

{'name': 'Jane', 'age': 24, 'fav_foods': ['pizza', 'fruit', 'fish'], 'fav_drinks': ['pepsi', 'coke', 'sprite'], 'phone': '3128144400'}

In [267]:
# Removing a key and value from a dictionary
del dict1['age']
print(dict1)

{'name': 'Jane', 'fav_foods': ['pizza', 'fruit', 'fish'], 'fav_drinks': ['pepsi', 'coke', 'sprite'], 'phone': '3128144400'}

## Python built-in functions and callables
- Back to [Table of Contents](#Table-of-Contents)  

A **function** is a Python object that you can "call" to **perform an action** or compute and **return another object**. You call a function by placing parentheses to the right of the function name. Some functions allow you to pass **arguments** inside the parentheses (separating multiple arguments with a comma). Internal to the function, these arguments are treated like variables.

Python has several useful built-in functions to help you work with different objects and/or your environment. Here is a small sample of them:

- **`type(obj)`** to determine the type of an object
- **`len(data structure)`** to determine how many items are in a data structure
- **`callable(obj)`** to determine if an object is callable
- **`sorted(data structure)`** to return a new list from a data structure, with the items sorted
- **`sum(data structure)`** to compute the sum of a data structure of numbers
- **`min(data structure)`** to determine the smallest item in a data structure
- **`max(data structure)`** to determine the largest item in a data structure
- **`abs(number)`** to determine the absolute value of a number
- **`repr(obj)`** to return a string representation of an object

> Complete list of built-in functions: https://docs.python.org/3/library/functions.html

There are also different ways of defining your own functions and callable objects that we will explore later.

In [ ]:
# Use the type() function to determine the type of an object
type(simple_string1)

In [ ]:
# Use the len() function to determine how many items are in a data structure
len(dict1)

In [ ]:
# Use the len() function to determine how many items are in a data structure
len(simple_string2)

In [ ]:
# Use the callable() function to determine if an object is callable
callable(len)

In [ ]:
# Use the callable() function to determine if an object is callable
callable(dict1)

In [ ]:
# Use the sorted() function to return a new list from a data structure, with the items sorted
sorted([10, 1, 3.6, 7, 5, 2, -3])

In [ ]:
# Use the sorted() function to return a new list from a data structure, with the items sorted
# - notice that capitalized strings come first
sorted(['dogs', 'cats', 'zebras', 'Chicago', 'California', 'ants', 'mice'])

In [ ]:
# Use the sum() function to compute the sum of a data structure of numbers
sum([10, 1, 3.6, 7, 5, 2, -3])

In [ ]:
# Use the min() function to determine the smallest item in a data structure
min([10, 1, 3.6, 7, 5, 2, -3])

In [ ]:
# Use the min() function to determine the smallest item in a data structure
min(['g', 'z', 'a', 'y'])

In [ ]:
# Use the max() function to determine the largest item in a data structure
max([10, 1, 3.6, 7, 5, 2, -3])

In [ ]:
# Use the max() function to determine the largest item in a data structure
max('gibberish')

In [ ]:
# Use the abs() function to determine the absolute value of a number
abs(10)

In [ ]:
# Use the abs() function to determine the absolute value of a number
abs(-12)

## Type conversion
- Back to [Table of Contents](#Table-of-Contents)  


- Convert a data structure
- Convert a data type

In [8]:
# Converting to a list
a_set = {1,1,3,4,5,0}
set_to_list = list(a_set)
print(type(set_to_list))
print(set_to_list)

<class 'list'>
[0, 1, 3, 4, 5]

In [7]:
# Converting string to int
s = '1'
s = float(s)
print(type(s))
print(s)

<class 'float'>
1.0

## References
- Back to [Table of Contents](#Table-of-Contents)  


1. https://gist.github.com/kenjyco/69eeb503125035f21a9d
2. https://gist.githubusercontent.com/kenjyco/69eeb503125035f21a9d/raw/learning-python3.ipynb